.card-project-border {
  background: linear-gradient(#0f6870, hsla(185, 63%, 61%, 0)) padding-box, /* Updated gradient colors */
              linear-gradient(to bottom, #FFFFFF, #23edff00) border-box; /* Updated gradient colors */
  border-radius: 30px 30px 30px 30px;
  border: 1px solid transparent;
}
